@{
    ViewData["Title"] = "Research's Journal";
}

<style  type="text/css">
	.card {
		min-height: 150px;
		display: flex;
		flex-direction: column;
	}

	.card-body {
		flex: 1; 
	}
</style>
<div class="text-center">
    <section id="HomeHeader">
	  <h1 class="display-4">Research's Journal</h1>
		@* <p>Learn about <a href="https://learn.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p> *@
		<p></p>
    </section>
	<hr />
    <section id="HomeResearchers">
		<h2>List of Researchers</h2>

		<div class="container mt-4">
			<div class="row">
				@foreach (var researcher in Model)
				{
					<div class="col-md-4 mb-4">
						<div class="card">
							<div class="card-body">
								<h5 class="card-title">@researcher.FirstName @researcher.LastName</h5>
								<p class="card-text">
									@* <strong>Researcher ID:</strong> @researcher.ResearcherId<br> *@
									<strong>Follow Status:</strong> @(researcher.FollowStatus == 1 ? "Following" : "Not Following")
								</p>
								@if (researcher.FollowStatus == 0) // Muestra el botón solo si FollowStatus es 0
								{
									<a href="@Url.Action("FollowResearch", "Home", new { IdResearch = @researcher.ResearcherId })" class="btn btn-primary">Follow</a>
								}
							</div>
						</div>
					</div>
				}
			</div>

    </section>
	<hr />
 </div>
