@model IEnumerable<Alset_Research.DTO.JournalDTO>

@{
    ViewData["Title"] = "Journals";
}
<style type="text/css">
    .journal_container {
        background: #ccc;
        text-align: center;
        padding: 5px;
        width:100%;
        height: 500px;
        overflow: auto;
    }
</style>

@* https://www.aspsnippets.com/Articles/3553/Using-PDFjs-in-ASPNet-MVC/ *@
@section scripts {
    <script src="https://cdnjs.cloudflare.com/ajax/libs/pdf.js/2.6.347/pdf.min.js"></script>
    <link href="https://cdnjs.cloudflare.com/ajax/libs/pdf.js/2.6.347/pdf_viewer.min.css" rel="stylesheet" type="text/css" />
    <script src="~/js/pdfViewer.js"></script>
}

<div class="text-center">

    <div class="m-5">
		<h1>Journals</h1>
    </div>
    <section id="HomeJournals">
        @foreach (var item in Model)
        {
            <div class="journal-item card p-5 mb-5">
                <h3>@Html.DisplayFor(modelItem => item.Title)</h3>
                <p><strong>Description:</strong> @Html.DisplayFor(modelItem => item.Description)</p>
                <div class="d-flex justify-content-between">
                    <p class="mb-0"><strong>Research:</strong> @Html.DisplayFor(modelItem => item.ResearcherFirstName) @Html.DisplayFor(modelItem => item.ResearcherLastName)</p>
                    <p class="mb-0"><strong>Date:</strong> @item.PublicationDate.ToString("dd/MM/yyyy")</p>
                </div>

                <div  class="journal_container" id="pdf_container_@item.Id"> </div>

                <script type="text/javascript">
                    function LoadPdfWithDelay(url, containerId) {
                        setTimeout(function () {
                            LoadPdfFromUrl(url, containerId);
                        }, 2000);
                    }
                    LoadPdfWithDelay('@Url.Content("~/journals/" + item.PDFFile)', '@item.Id')
                </script>
            </div>
        }
    </section>
</div>
