@model IEnumerable<Alset_Research.DTO.JournalDTO>

@{
    ViewData["Title"] = "Journals";
}
<style type="text/css">
    .journal_container {
        background: #ccc;
        text-align: center;
        padding: 5px;
        height: 500px;
        overflow: auto;
    }
</style>

@* https://www.aspsnippets.com/Articles/3553/Using-PDFjs-in-ASPNet-MVC/ *@
@section scripts {
    <script src="https://cdnjs.cloudflare.com/ajax/libs/pdf.js/2.6.347/pdf.min.js"></script>
    <link href="https://cdnjs.cloudflare.com/ajax/libs/pdf.js/2.6.347/pdf_viewer.min.css" rel="stylesheet" type="text/css" />
    <script src="~/js/pdfViewer.js"></script>
}

<div class="text-center">

	<h1>Journals</h1>
    <section id="HomeJournals">
        @foreach (var item in Model)
        {
            <div class="journal-item">
                <h3>@Html.DisplayFor(modelItem => item.Title)</h3>
                <p><strong>Description:</strong> @Html.DisplayFor(modelItem => item.Description)</p>
                <p><strong>Fecha de Publicación:</strong> @Html.DisplayFor(modelItem => item.PublicationDate)</p>
                <p><strong>Investigador:</strong> @Html.DisplayFor(modelItem => item.ResearcherFirstName) @Html.DisplayFor(modelItem => item.ResearcherLastName)</p>
                <div  class="journal_container" id="pdf_container_@item.Id"> </div>

                <script type="text/javascript">
                    function LoadPdfWithDelay(url, containerId) {
                        setTimeout(function () {
                            LoadPdfFromUrl(url, containerId);
                        }, 2000);
                    }
                    LoadPdfWithDelay('@Url.Content("~/journals/" + item.PDFFile)', '@item.Id')
                </script>
            </div>
        }
    </section>
</div>
